certifi==2019.6.16
#pip==19.1.1
#readline
setuptools==41.0.1
#tk
pyyaml
wheel==0.33.4
munch==2.3.2
numpy==1.16.3
pillow<=6.0.0
#pretrainedmodels==0.7.4
six==1.12.0
#torch==1.1.0
#torchvision==0.3.0
tqdm==4.32.2
